<!--网站底部页面-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="myFooter">
    <div class="footer">

        <!--底部区域-->
        <div class="container-fluid" id="foot-message" style="position: absolute">
            <div class="ml-auto mr-auto" style="width: 700px;">
                <div style="margin: 0 auto 0 auto;width: 640px">
                    <span>本网站为作者纯手动搭建用于学习、交流，如有建站问题请添加作者联系方式互相学习.</span>
                </div>
                <div style="margin: 15px auto 0 auto;width: 360px">
                    <span>Copyright &copy; <a href="/" style="color: whitesmoke">www.luohai.top</a> All Rights Reserved.</span>
                </div>
                <div style="margin: 15px auto 0 auto;width: 230px">
                    <span>备案编号：赣ICP备20002596号</span>
                </div>
            </div>

            <div style="position: absolute;right: 250px;top: 20px">
                <img src="/image/本人微信.jpg" style="width: 100px; height: 100px; ">
                <div style="padding: 5px 0 0 15px;">我的微信</div>
            </div>
        </div>

    </div>
</div>