<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>article</title>
    <!--主页基础css样式-->
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
</head>
<body>


    <!--<div th:text="${context}">-->

    <!--</div>-->



    <!--主页基础js-->
    <script type="text/javascript" src="/lib/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/bootstrap.js"></script>

</body>
</html>