<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>特殊页面</title>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.css">
</head>
<body>

    <div class="jumbotron" style="">
        <h1 class="display-4">你好, 朋友!</h1>
        <p class="lead">如果见到这个页面说明本人正在进行网站的一个开发和维护，维护时间无法确定，如果有什么事或者问题可以直接联系本人，感谢理解.</p>
        <hr class="my-4">
        <p>本网站为作者纯手动搭建用于学习、交流，如有建站问题请添加作者联系方式互相学习.</p>
    </div>

    <script type="text/javascript" src="/lib/bootstrap/bootstrap.js"></script>
</body>
</html>