<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客登录</title>
    <!--主页基础css样式-->
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <!--主页css样式-->
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id="borders">
        <div id="borderss">
            <div id="login-logo"></div>
            <form action="/" method="post">
                <i id="account-fa" class="fa fa-user-o"></i>
                <i id="password-fa" class="fa fa-lock"></i>
                <input id="account" type="text" placeholder="用户名" name="act">
                <input id="password" type="password" placeholder="密码" name="pwd">
                <button id="buttons" class="btn btn-primary">登&nbsp&nbsp录</button>
            </form>
            <a id="a-1" href="/goRegister">创建账号</a>
            <a id="a-2" href="#">忘记密码？</a>
            <a id="a-3" href="#">其他帮助</a>
            <a id="a-4" href="/">返回主页</a>
        </div>
    </div>

    <!--主页基础js-->
    <script type="text/javascript" src="/lib/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/bootstrap.js"></script>
    <!--login页面js-->
    <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>