<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号注册</title>
    <!--主页基础css样式-->
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/lib/messenger/messenger.css">
    <link rel="stylesheet" href="/lib/messenger/messenger-theme-air.css">
    <!--主页css样式-->
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

    <div class="m-auto" style="width: 40vw">
        <form id="forms" method="post" autocomplete="off">
            <div class="form-group row">
                <label for="nickName" class="col-sm-3 col-form-label"><i class="fa fa-hand-o-right"></i>&#8195昵&#8195&#8195称</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nickName" name="nickName" onblur="nickNames()" data-isSubmit="false">
                    <div style="width: 100%">
                        <small id="nickNameHelp">填写您的昵称，将用于评论名字、发表名字等。</small>
                        <small id="ifNickNameHelp"></small>
                    </div>
                </div>

            </div>
            <div class="form-group row has-success">
                <label for="account" class="col-sm-3 col-form-label"><i class="fa fa-hand-o-right"></i>&#8195账&#8195&#8195号</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="account" name="account" onblur="accounts()" data-isSubmit="false">
                    <div style="width: 100%">
                        <small id="accountHelp">填写您的账号，用于登录系统，绑定信息。</small>
                        <small id="ifAccountHelp"></small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label"><i class="fa fa-hand-o-right"></i>&#8195密&#8195&#8195码</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" name="password" onblur="passwords()" data-isSubmit="false">
                    <div style="width: 100%">
                        <small id="passwordHelp">填写您的密码，用于登录系统，绑定信息。</small>
                        <small id="ifPasswordHelp"></small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="userName" class="col-sm-3 col-form-label"><i class="fa fa-hand-o-right"></i>&#8195姓&#8195&#8195名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="userName" name="userName" onblur="userNames()" data-isSubmit="false">
                    <div style="width: 100%">
                        <small id="userNameHelp">填写您的姓名，用于找回账号、修改密码等。</small>
                        <small id="ifUserNameHelp"></small>
                    </div>

                </div>
            </div>
            <div class="form-group row">
                <label for="qq" class="col-sm-3 col-form-label"><i class="fa fa-hand-o-right"></i>&#8195扣&#8195&#8195扣</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="qq" name="qq" onblur="qqs()" data-isSubmit="false" oninput="value=value.replace(/[^\d]/g,'')">
                    <div style="width: 100%">
                        <small id="qqHelp">填写您的扣扣，方便与您取得联系。</small>
                        <small id="ifqqHelp"></small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-3 col-form-label">联系电话</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="phone" name="phone" oninput="value=value.replace(/[^\d]/g,'')">
                    <small id="phoneHelp">填写您的联系方式，方便与您取得联系。</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">邮&#8195&#8195箱</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="email" name="email">
                    <small id="emailHelp">填写您的邮箱，方便与您取得联系。</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">为管理员</label>
                <div class="col-sm-9 pt-2">
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="isDomains" id="yes" value="1">
                            <label class="form-check-label" for="yes">是</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="isDomains" id="no" value="0" checked>
                            <label class="form-check-label" for="no">否</label>
                        </div>
                    </div>
                    <small id="isDomainsHelp">用于创建博主账号，拥有添加文章、管理博客的属性，但是创建该类型账号需要向管理员获取神秘代码，一般不需要选择此项。</small>
                </div>
            </div>

            <div class="form-group row" hidden="hidden" id="isDomainDiv">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 row">
                    <div id="shade" hidden="hidden" style="position:absolute; right: -4px; background:rgba(255,255,255,0.1); width:95%; height:100%; z-index: 2;"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="isDomain" name="isDomain" data-isSubmit="false">
                        <small id="isDomainHelp">输入神秘代码，点击按钮测试。</small>
                        <small id="isDomainHelpYes" hidden="hidden" style="color: green">可以创建管理员账号!</small>
                        <small id="isDomainHelpNo" hidden="hidden" style="color: red">神秘代码错误！</small>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" onclick="isDomainButton()">测试代码</button>
                    </div>
                </div>
            </div>

            <div class="form-group row mt-5">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-block" onclick="isForm()">注&#8195&#8195册</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-danger btn-block" onclick="cancel()">取&#8195&#8195消</button>
                </div>
            </div>
        </form>
    </div>

    <!--主页基础js-->
    <script type="text/javascript" src="/lib/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/Popper.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/lib/Bootbox/bootbox.js"></script>
    <script type="text/javascript" src="/lib/messenger/messenger.min.js"></script>

    <script type="text/javascript">

        // 初始化messager消息框设置
        $._messengerDefaults = {
            extraClasses: 'messenger-fixed messenger-theme-air messenger-on-top',
            theme:'air'
        };

        /**
         * 取消，跳转主页
         */
        function cancel(){
            bootbox.confirm({
                title: '操作提示',
                message: '确定取消注册账号吗？',
                buttons: {
                    confirm: {
                        label: '确定',
                        className: 'btn-info'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result){
                        window.location.href = "/"
                    }
                }
            });
        }

        /**
         * 控制创建博主账号的显示隐藏组件
         */
        $(document).ready(function() {
            $('input[type=radio][name=isDomains]').change(function() {
                if (this.value == '1') {
                    $('#isDomainsHelp').attr('hidden','hidden');
                    $('#isDomainDiv').removeAttr('hidden','hidden');
                } else if (this.value == '0') {
                    $('#isDomainsHelp').removeAttr('hidden','hidden');
                    $('#isDomainDiv').attr('hidden','hidden');
                    // 清空神秘代码的内容以及去掉遮罩层
                    $('#shade').attr('hidden','hidden');
                    $('#isDomain').val('');
                    $('#isDomainHelpYes').attr('hidden','hidden');
                    $('#isDomainHelpNo').attr('hidden','hidden');
                    $('#isDomain').attr('data-isSubmit','false');
                }
            });
        });

        /**
         * 判断神秘代码是否正确
         */
        function isDomainButton() {
            var $isDomain = $('#isDomain').val();
            if ($isDomain == 'I Love You'){
                bootbox.confirm({
                    title: '使用提示',
                    message: '确定使用神秘代码？',
                    buttons: {
                        confirm: {
                            label: '确定',
                            className: 'btn-info'
                        },
                        cancel: {
                            label: '取消',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if(result){
                            // 遮罩层
                            $('#shade').removeAttr('hidden','hidden');
                            $('#isDomainHelp').attr('hidden','hidden');
                            $('#isDomainHelpNo').attr('hidden','hidden');
                            $('#isDomainHelpYes').removeAttr('hidden','hidden');
                            $('#isDomain').attr('data-isSubmit','true');
                        }
                        if (!result){
                            $('#isDomain').val('');
                            $('#isDomain').attr('data-isSubmit','false');
                        }
                    }
                });
                return;
            }
            $('#isDomainHelp').attr('hidden','hidden');
            $('#isDomainHelpNo').removeAttr('hidden','hidden');
        }

        /**
         * 失去焦点的判断（昵称、账号、密码、姓名）
         */
        function nickNames() {
            var $nickName = $('#nickName').val();
            var $ifNickNameHelp = $('#ifNickNameHelp');
            if ($nickName.trim().length == 0){
                $ifNickNameHelp.attr('style','float:right; color:red; font-size:15px');
                $ifNickNameHelp.html('昵称不能为空!');
                $('#nickName').attr('data-isSubmit','false');
                return;
            }
            $ifNickNameHelp.html('');
            $('#nickName').attr('data-isSubmit','true');
        }
        function accounts() {
            var $account = $('#account').val();
            var $ifAccountHelp = $('#ifAccountHelp');
            if ($account.trim().length == 0){
                $ifAccountHelp.attr('style','float: right; color:red; font-size:15px');
                $ifAccountHelp.html('账号不能为空!');
                $('#account').attr('data-isSubmit','false');
                return;
            }
            $ifAccountHelp.html('');
            $('#account').attr('data-isSubmit','true');
        }
        function passwords() {
            var $password = $('#password').val();
            var $ifPasswordHelp = $('#ifPasswordHelp');
            if ($password.trim().length == 0){
                $ifPasswordHelp.attr('style','float: right; color:red; font-size:15px');
                $ifPasswordHelp.html('密码不能为空!');
                $('#password').attr('data-isSubmit','false');
                return;
            }
            $ifPasswordHelp.html('');
            $('#password').attr('data-isSubmit','true');
        }
        function userNames() {
            var $userName = $('#userName').val();
            var $ifUserNameHelp = $('#ifUserNameHelp');
            if ($userName.trim().length == 0){
                $ifUserNameHelp.attr('style','float: right; color:red; font-size:15px');
                $ifUserNameHelp.html('姓名不能为空!');
                $('#userName').attr('data-isSubmit','false');
                return;
            }
            $ifUserNameHelp.html('');
            $('#userName').attr('data-isSubmit','true');
        }
        function qqs() {
            var $qq = $('#qq').val();
            var $ifqqHelp = $('#ifqqHelp');
            if ($qq.trim().length == 0){
                $ifqqHelp.attr('style','float: right; color:red; font-size:15px');
                $ifqqHelp.html('扣扣绝对不能为空!');
                $('#qq').attr('data-isSubmit','false');
                return;
            }
            $ifqqHelp.html('');
            $('#qq').attr('data-isSubmit','true');
        }

        /**
         * 提交时候的错误提示
         * @param text
         */
        function tishi(text) {
            var dialog = bootbox.dialog({
                title: '<font style="color: black">错误提示</font>',
                message:'<font style="color: red">' + text + '填写不符合规定！</font>',
                size: 'small',
                buttons:{
                    确定:{
                        className: 'btn-danger'
                    }
                }
            });
        }

        function isForm() {
            var verdict1 = $('#nickName').attr('data-isSubmit');
            var verdict2 = $('#account').attr('data-isSubmit');
            var verdict3 = $('#password').attr('data-isSubmit');
            var verdict4 = $('#userName').attr('data-isSubmit');
            var verdict5 = $('#qq').attr('data-isSubmit');
            var verdict6 =  $('input[type=radio][name=isDomains]:checked').val();
            var verdict7 =  $('#isDomain').attr('data-isSubmit');
            var domain = 0;

            if (verdict1 == 'false'){
                tishi('昵称');
                return;
            };
            if (verdict2 == 'false'){
                tishi('账号');
                return;
            };
            if (verdict3 == 'false'){
                tishi('密码');
                return;
            };
            if (verdict4 == 'false'){
                tishi('姓名');
                return;
            };
            if (verdict5 == 'false'){
                tishi('扣扣');
                return;
            };
            if (verdict6 == '1'){
                if (verdict7 == 'false'){
                    tishi('神秘代码');
                    return;
                }
                domain = 1;
            }

            bootbox.confirm({
                title: '提交提示',
                message: '确定注册该账号吗？',
                buttons: {
                    confirm: {
                        label: '确定',
                        className: 'btn-info'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result){
                       $.ajax({
                           type: "post",
                           url: "/register",
                           data: {
                               nickName: $('#nickName').val(),
                               act: $('#account').val(),
                               pwd: $('#password').val(),
                               userName: $('#userName').val(),
                               qq: $('#qq').val(),
                               phone: $('#phone').val(),
                               email: $('#email').val(),
                               isDomain : domain
                           },
                           success: function (result) {
                                if (result){
                                    window.location.href = "/middle?title=账号注册&targetTitle=登录页面&urls=/goLogin";
                                }else {
                                    $.globalMessenger().post({
                                        title: '提示',
                                        message: '账号注册失败，请重新注册！',
                                        showCloseButton: true,
                                        id: 2,
                                        type: 'error'
                                    });
                                }
                           },
                           error: function () {
                               $.globalMessenger().post({
                                   title: '提示',
                                   message: '账号注册失败，请联系管理员！',
                                   showCloseButton: true,
                                   id: 2,
                                   type: 'error'
                               });
                           }
                       })
                    }
                }
            });

        }




    </script>
</body>
</html>